* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.grid_square {
    border: 1px solid gray;
    /* background-color: rgb(128, 255, 0); */
    
    /* width: 100px;
    height: 100px; */
}

.grid_square:hover {
    background-color: rgb(100, 200, 0);
    transition: 500ms;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_wrapper > button {
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    background-color: rgb(0, 204, 204);
}

.button_wrapper > button:hover {
    background-color: rgb(0, 185, 185);
    box-shadow: 0 1px 4px 0 rgb(0, 142, 142);
    transition: 200ms;
}

/* to będzie do usunięcia na koniec  */
.drawing {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
}
/* to też będzie do usunięcia na koniec  */
.support {
    margin-top: 10px;
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    color: black;
}